.about-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.hero-section {
  text-align: center;
  margin-bottom: 50px;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.5em;
  color: #777;
}

.content-section h2 {
  font-size: 2em;
  margin-top: 20px;
}

.content-section p,
.content-section ul {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.content-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.content-section ul li {
  margin-bottom: 10px;
}

.content-section strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
  }

  .hero-section h1 {
    font-size: 2.5em;
  }

  .hero-section p {
    font-size: 1.2em;
  }

  .content-section h2 {
    font-size: 1.5em;
  }

  .content-section p,
  .content-section ul {
    font-size: 1em;
  }
}
